Page {
  padding: 10;
}

Label {
  font-size: 12;
  padding: 10;
}

.title {
  font-size: 14;
  font-weight: bold;
}

TextView, NumericKeyboardView {
  font-size: 12;
  padding: 10;
  width: 120;
  text-align: right;
}

/* Enhanced TextViews are transparent by default */
.notEnhancedTextView {
  background-color: transparent;
}